#cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#cards-container .card {
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: 1px 1px 4px 0px var(--orange-dark);
}

.card .card-header {
  background-color: var(--orange-intense);
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.card .card-body {
  padding: 20px;
  background-color: var(--orange-light);
}

.card .card-footer {
  background-color: var(--orange-normal);
  padding: 10px;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

@media (min-width: 800px) {
  #cards-container {
    display: none;
  }
}
