#cards-container {
  display: flex;
  flex-direction: column;
}

#cards-container .card {
}

.card .card-header {
  background-color: var(--orange-normal);
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.card .card-body {
  padding: 20px;
  background-color: var(--orange-light);
}

.card .card-footer {
  background-color: #ffdea6;
  padding: 10px;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

@media (min-width: 800px) {
  #cards-container {
    display: none;
  }
}
