:root {
  --light-blue: #74acdf;
  --orange-normal: #febb1b;
  --orange-light: #ffefd7;
  --background: #ffffff;
}

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("/fonts/hanken-grotesk-latin-wght-normal.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: var(--background);
}

.container {
  padding: 10px 10px;
}

.border-light {
  border: 1px solid black;
}

.flex-row-between-center {
  display: flex;
  direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 800px) {
  .container {
    padding: 10px 40px;
  }
}
