#paginator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 1px solid black;
  border-radius: var(--border-radius);
  padding: 10px;
}

#page-selector-container {
  display: flex;
  gap: 10px;
}

#page-selector-container .movement-button {
  text-transform: capitalize;
  font-weight: bold;
  border: 1px solid black;
  border-radius: var(--border-radius);
  padding: var(--padding-button);
  background-color: var(--light-blue);
  cursor: pointer;
}

#page-selector-container .disabled-button {
  border-color: grey;
  color: grey;
  background-color: #cee5ff;
  cursor: not-allowed;
}

.selector-button {
  padding: var(--padding-button);
  border-radius: var(--border-radius);
  cursor: pointer;
}

#page-selector-container .disabled-page {
  cursor: not-allowed;
}

#show-per-page-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (min-width: 600px) {
  #paginator-container {
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 0px;
  }
}
